<div class="navbar navbar-expand-sm navbar-light justify-content-between bg-custom-primary py-5">
  <div class="container">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo-container">
        <%= image_tag asset_path('Logo_2.0.png'), alt: "Logo", class: "logo" %>
        <%= image_tag asset_path('rick_fuck2.png'), alt: "Logo", class: "logo" %>
      </div>
    <% end %>

    <!-- Barre de recherche -->
    <div class="d-flex align-items-center">
      <form class="d-flex align-items-center">
        <!-- Champ Characters -->
        <div class="col-auto me-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Characters">
        </div>
        <!-- Champ Date de début -->
        <div class="col-auto me-3">
          <input type="date" class="form-control" id="startDate" placeholder="Start Date">
        </div>
        <!-- Champ Date de fin -->
        <div class="col-auto me-3">
          <input type="date" class="form-control" id="endDate" placeholder="End Date">
        </div>
        <!-- Bouton Rechercher -->
        <div class="col-auto">
          <button type="submit" class="btn btn-search">
            <i class="fa-brands fa-searchengin"></i> Search
          </button>
        </div>
      </form>
    </div>

    <!-- Menu de la barre de navigation -->
    <div class="collapse navbar-collapse flex-grow-0 d-flex align-items-center flex-column text-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-nickname nav-link"><%= @user.nickname %></span>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag "https://rickandmortyapi.com/api/character/avatar/1.jpeg", alt: "avatar", class: "rounded-circle me-2 avatar-icon" %>
              <span>Account</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All Characters", characters_path, class: "dropdown-item" %>
              <%= link_to "Add a character", new_character_path, class: "dropdown-item" %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user me-2"></i>
              <span>Account</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
