<div class="navbar navbar-expand-sm p-5 navbar-light navbar-lewagon bg-custom-primary">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo-container">
        <%= image_tag asset_path('Logo_2.0.png'), alt: "Logo", class: "logo" %>
      </div>
    <% end %>
    <!-- Autres éléments -->

    <!-- Barre de recherche -->
    <div class="d-flex align-items-center">
      <form class="d-flex align-items-center">

        <!-- Champ Characters -->
        <div class="col-auto">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Characters">
        </div>
        <!-- Champ Date de début -->
        <div class="col-auto">
          <input type="date" class="form-control" id="startDate" placeholder="Date de début">
        </div>

        <!-- Champ Date de fin -->
        <div class="col-auto">
          <input type="date" class="form-control" id="endDate" placeholder="Date de fin">
        </div>

        <!-- Bouton Rechercher -->
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>

    <!-- Menu de la barre de navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag "https://rickandmortyapi.com/api/character/avatar/1.jpeg", class: "avatar", alt: "avatar" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Dashboard", characters_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Log In", new_user_session_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de Recherche de Réservation</title>
    <!-- Lien vers le CDN Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Lien vers le CDN Bootstrap JS et Popper.js (nécessaires pour certains composants Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
