<div class="background-index d-flex flex-column">
  <div class="container mb-5">
    <div class="row align-items-start">

      <h1 class="custom-title text-center pt-5">Dashboard</h1>

      <!-- My Bookings -->
      <div class="col-md-4 mt-2 sticky-column">
        <div class="card shadow">
          <div class="card-db text-center text-white-db">
            <h2><i></i> <b>My Bookings</b></h2>
          </div>


          <div class="card-body" style="height: 400px; overflow-y: auto;">
  <% if @my_bookings.any? %>
    <ul class="list-unstyled">
        <% @my_bookings.each_with_index do |booking, index| %>
          <li class="mb-3 border-bottom container-db card-background-db shadow-sm border-light rounded-4 position-relative">
            <a href="<%= character_path(booking.character) %>" style="text-decoration: none; color: inherit;">
              <h3 class="bold-text">Booking n°<%= index + 1 %></h3>
              <p>Character: <strong><%= booking.character.name %></strong></p>
              <p>Start Date: <strong><%= booking.start_date %></strong></p>
              <p>End Date: <strong><%= booking.end_date %></strong></p>
              <%= image_tag(booking.character.image_url, class: "img-view-db") %>
              <p>Status:
                <% if booking.status == 'approved' %>
                  <span class="badge bg-lightgreen text-darkblue">Validated</span>
                <% elsif booking.status == 'declined' %>
                  <span class="badge bg-danger text-white">Declined</span>
                <% else %>
                  <span class="badge bg-lightblue text-darkgreen">Pending</span>
                <% end %>
              </p>
            </a>
            </li>
          </a>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted">No bookings found.</p>
  <% end %>
</div>




        </div>
      </div>

      <!-- My Characters -->
      <div class="col-md-4 mt-2 sticky-column">
        <div class="card shadow">
          <div class="card-db text-center text-white-db">
            <h2><b>My Characters</b></h2>
          </div>
          <div class="card-body" style="height: 400px; overflow-y: auto;">
            <% if @my_characters.any? %>
              <ul class="list-unstyled">
                <% @my_characters.each_with_index do |character, index| %>
                  <li class="mb-3 border-bottom container-db card-background-db shadow-sm border-light rounded-4 position-relative">
                    <a href="<%= character_path(character) %>" style="text-decoration: none; color: inherit;">
                      <h3 class="bold-text">Character n°<%= index + 1 %></h3>
                      <p>Name: <strong><%= character.name %></strong></p>
                      <p>Description: <strong><%= character.description.capitalize %></strong></p>
                      <p>Gender: <strong><%= character.gender %></strong></p>
                      <p>Planet: <strong><%= character.planet %></strong></p>
                      <p>Price: <strong>$<%= character.price %></strong></p>
                      <%= image_tag(character.image_url, class: "img-view-db") %>
                      <p>Status: <strong><%= character.status == false ? 'Available' : character.status %></strong></p>
                    </a>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="text-muted">No characters found.</p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Profile & Pending Bookings -->
      <div class="col-md-4 mt-2 sticky-column">
        <div class="card shadow smaller-card card-background-db">
          <a href="<%= profile_path(@user) %>" style="text-decoration: none; color: inherit;">
            <div style="display: flex; align-items: center; transition: transform 0.3s ease;">
              <div style="margin-right: 20px;">
               <% if current_user&.avatar.present? %>
                  <%= cl_image_tag(@current_user.avatar.key, class: 'avatar-icon-db') %>
                <% else %>
                  <%= image_tag('https://static.posters.cz/image/750/affiches-et-posters/rick-and-morty-mr-meeseeks-i51112.jpg', class: 'avatar-icon-db') %>
                <% end %>
              </div>
              <div>
                <p class="mb-1"><strong><%= @user.email %></strong></p>
                <p class="mb-1">First name: <strong><%= @user.first_name %></strong></p>
                <p class="mb-1">Last name: <strong><%= @user.last_name %></strong></p>
                <p class="mb-1">Nickname: <strong><%= @user.nickname %></strong></p>
              </div>
            </div>
          </a>
        </div>

        <div class="card shadow small-card">
          <div class="card-db text-center text-white-db">
            <h2><i></i> <b>Pending Bookings</b></h2>
          </div>
          <div class="card-body" style="height: 400px; overflow-y: auto;">
            <% if @to_be_validated.any? %>
              <ul class="list-unstyled" style="max-height: 200px;">
                <% @to_be_validated.each_with_index do |booking, index| %>
                  <li class="mb-3 border-bottom container-db card-background-db shadow-sm border-light rounded-4 position-relative">
                    <h3 class="bold-text">Booking n°<%= index + 1 %></h3>
                    <p><strong>Character:</strong> <%= booking.character.name %></p>
                    <p><strong>Start Date:</strong> <%= booking.start_date %></p>
                    <p><strong>End Date:</strong> <%= booking.end_date %></p>
                    <%= image_tag(booking.character.image_url, class: "img-view-pending") %>
                    <p><strong>Customer:</strong> <%= "#{booking.user.first_name} #{booking.user.last_name}" %></p>
                    <p><strong>Status:</strong> <%= booking.status == 'to_be_validated' ? 'Being validated' : booking.status %></p>
                    <div class="d-flex gap-2">
                      <%= button_to 'Accept', approve_booking_path(booking), method: :patch, class: 'btn btn-success-db btn-sm', data: { confirm: 'Do you really want to approve this booking?' } %>
                      <%= button_to 'Decline', decline_booking_path(booking), method: :patch, class: 'btn btn-danger-db btn-sm', data: { confirm: 'Do you really want to decline this booking?' } %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="text-muted">No bookings found.</p>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
