<%= simple_form_for(character, html: { class: "needs-validation" }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="mb-3">
      <%= f.input :name, label: false, input_html: { class: "form-control", placeholder: "Character Name" } %>
    </div>
    <div class="mb-3">
      <%= f.input :description, label: false, input_html: { class: "form-control", placeholder: "Type your description" } %>
    </div>
    <div class="mb-3">
      <%= f.input :gender, label: false, input_html: { class: "form-control", placeholder: "Gender" } %>
    </div>
    <div class="mb-3">
      <%= f.input :planet, collection: Character::PLANETS, prompt: "Select a planet", label: false, input_html: { class: "form-control", placeholder: "Planet" } %>
    </div>
    <div class="mb-3">
      <%= f.input :image_url, label: false, input_html: { class: "form-control", placeholder: "Image URL" } %>
    </div>
    <div class="mb-3">
      <%= f.input :price, label: false, input_html: { class: "form-control", placeholder: "Price" } %>
    </div>
  </div>
  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, "Create me chico 🚀", class: "btn btn-search" %>
  </div>
<% end %>
